ol, ul {
	list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img:not([height]) {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  line-height: 1.417;
  color: $light;
}

// overrides _reboot.scss
ol,
ul {
  padding-left: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}

address {
  margin-bottom: 0;
}

p {
  margin: 0;
}

// for vertical text
.wm-v {
  &-lr, &-rl {
    cursor: default;
  }
  &-lr {
    padding: 10px;
    white-space: nowrap; // for index.html banner bottom content
  }
}

.text-hide {
  font: 0 / 0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}