@function grid-value($start, $end) {
  @return #{"#{$start} / #{$end}"};
}

$utilities: map-merge(
  $utilities,
  (
    // Modify utilities values
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (input-num: 48px),  
        ),
      ),
    ),
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (
            none: none,
            shop-car: 110px,
          ),
        ),
      ),
    ),
    "font-family": map-merge(
      map-get($utilities, "font-family"),
      (
        values: map-merge(
          map-get(map-get($utilities, "font-family"), "values"),
          (
            times: $font-family-times,
            helvetica: $font-family-helvetica,
            pingfang: $font-family-PingFang,
          ),
        ),
      ),
    ),
    "flex": map-merge(
      map-get($utilities, "flex"),
      (
        values: map-merge(
          map-get(map-get($utilities, "flex"), "values"),
          (none: none),
        ),
      ),
    ),
    // Make an existing utility responsive
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      ( responsive: true ),
    ),
    "border-bottom": map-merge(
      map-get($utilities, "border-bottom"),
      ( responsive: true ),
    ),
    "color": map-merge(
      map-get($utilities, "color"),
      ( responsive: true ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      ( responsive: true ),
    ),
    // Add new utilities
    "border-x": (
      property: border-left border-right,
      class: border,
      values: (
        x: 1px solid $border-color,
      )
    ),
    "border-y": (
      responsive: true,
      property: border-top border-bottom,
      class: border,
      values: (
        y: 1px solid $border-color,
        0: 0,
      )
    ),
    "flex-basis": (
      responsive: true,
      property: flex-basis,
      class: flex-basis,
      values: (
        100: 100%,
        auto: auto,
      )
    ),
    "grid-row": (
      responsive: true,
      property: grid-row,
      class: g-row,
      values: (
        start-1-end-2: grid-value(1, 2),
        start-1-end-3: grid-value(1, 3),
        start-2-end-3: grid-value(2, 3),
        start-3-end-4: grid-value(3, 4),
        2: 2,
    )),
    "grid-column": (
      responsive: true,
      property: grid-column,
      class: g-col,
      values: (
        start-1-end-2: grid-value(1, 2),
        start-2-end-3: grid-value(2, 3),
        start-1-end-3: grid-value(1, 3),  // for 滿版
        12: span 12,
    )),
    "grid-column-start": (
      responsive: true,
      property: grid-column-start,
      class: g-start,
      values: (
        1: 1,
        7: 7,
    )),
    "grid-template-columns": (
      property: grid-template-columns,
      class: gt-col,
      values: (1fr: 1fr 1fr)
    ),
    "grid-template-rows": (
      property: grid-template-rows,
      class: gt-row,
      values: (auto: auto 1fr)
    ),
    // Modify CSS custom properties
    "list-group": (
      property: --#{$prefix}list-group-border-width,
      class: list-group,
      values: (
        "flush": 0,
      )
    ),
  )
);
