@function grid-value($start, $end) {
  @return #{"#{$start} / #{$end}"};
}

$utilities: map-merge(
  $utilities,
  (
    // Modify utilities values
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                banner: 496px,
                banner-sm: 277px,
                banner-rectangle: 256px,
                banner-rectangle-sm: 180px,
              )
            ),
        )
      ),
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                input-num: 48px,
                card-img: 89px,
              )
            ),
        )
      ),
    "max-height":
      map-merge(
        map-get($utilities, "max-height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "max-height"), "values"),
              (
                none: none,
                desc: 460px,  // for index.html 為什麼區塊的高度
              )
            ),
        )
      ),
    "max-width":
      map-merge(
        map-get($utilities, "max-width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "max-width"), "values"),
              (
                none: none,
                shop-car: 110px,
              )
            ),
        )
      ),
    "font-family":
      map-merge(
        map-get($utilities, "font-family"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-family"), "values"),
              (
                times: $font-family-times,
                helvetica: $font-family-helvetica,
                pingfang: $font-family-PingFang,
              )
            ),
        )
      ),
    "flex":
      map-merge(
        map-get($utilities, "flex"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "flex"), "values"),
              (
                none: none,
                expand: 1 0 0,
              )
            ),
        )
      ),
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "line-height"), "values"),
              (
                l: 1.4,
                2: 2,
                25: 2.5,
              )
            ),
        )
      ),
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              (
                rectangle-over: rgba($primary, 0.8)
              )
            ),
        )
      ),  
    // Make an existing utility responsive
    "top":
      map-merge(
        map-get($utilities, "top"),
        (
          responsive: true,
        )
      ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          responsive: true,
        )
      ),
    // Add new utilities
    "background-image": (
      property: background,
      class: bg,
      values: (
        banner: url(/assets/images/banner.jpg) no-repeat center center / cover,
        rectangle-1: url(/assets/images/banner-pic1.jpg) no-repeat center center / cover,
        rectangle-2: url(/assets/images/banner-pic2.jpg) no-repeat center center / cover,
        rectangle-3: url(/assets/images/banner-pic3.jpg) no-repeat center center / cover
      ),
    ),
    "position-shorthand": (
      property: top right bottom left,
      class: position,
      values: ( 
        rectangle: -10px,
        init: 0
      )
    ),
    "filter": (    // for index.html banner rectangle
      property: filter,
      class: filter,
      values: (
        blur: blur(5px),
      ),
    ),
    "writing-mode": (
      responsive: true,
      property: writing-mode,
      class: wm,
      values: (
        v-lr: vertical-lr,
        v-rl: vertical-rl,
      ),
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: ls,
      values: (
        0: 0,
        sm: 5px,
        lg: 8px
      ),
    ),
    "border-x": (
      property: border-left border-right,
      class: border,
      values: (
        x: 1px solid $border-color,
      ),
    ),
    "border-y": (
      responsive: true,
      property: border-top border-bottom,
      class: border,
      values: (
        y: 1px solid $border-color,
        0: 0,
      ),
    ),
    "flex-basis": (
      responsive: true,
      property: flex-basis,
      class: flex-basis,
      values: (
        100: 100%,
        auto: auto,
      ),
    ),
    "grid-row": (
      responsive: true,
      property: grid-row,
      class: g-row,
      values: (
        start-1-end-2: grid-value(1, 2),
        start-1-end-3: grid-value(1, 3),
        start-2-end-3: grid-value(2, 3),
        start-3-end-4: grid-value(3, 4),
        2: 2,
      ),
    ),
    "grid-column": (
      responsive: true,
      property: grid-column,
      class: g-col,
      values: (
        start-1-end-2: grid-value(1, 2),
        start-2-end-3: grid-value(2, 3),
        start-1-end-3: grid-value(1, 3),
        start-2-end-4: grid-value(2, 4),
        start-3-end-4: grid-value(3, 4),
        start-1-end-4: grid-value(1, 4),
        // for 滿版
        12: span 12,
      ),
    ),
    "grid-template-columns": (
      property: grid-template-columns,
      class: gt-col,
      values: (
        1fr: 1fr 1fr,
        3fr: 3fr 2fr 1fr,
        3fr-reverse: 2fr 1fr 3fr,
      ),
    ),
    "grid-template-rows": (
      property: grid-template-rows,
      class: gt-row,
      values: (
        auto: auto 1fr,
      ),
    ),
    // Modify CSS class
    "position-shorthand-init": (
      property: position,
      class: position,
      values: ( 
        init: absolute
      )
    ),
    "position-top": (
      responsive: true,
      property: top,
      class: top,
      values: ( 
        20: 20px,
        90: 90px
      )
    ),
    "position-bottom": (
      responsive: true,
      property: bottom,
      class: bottom,
      values: ( 
        20: 20px,
      )
    ),
    // Modify CSS custom properties
    "list-group": (
      property: --#{$prefix}list-group-border-width,
      class: list-group,
      values: (
        "flush": 0,
      ),
    ),
  )
);
