<footer>
  <div class="py-8 bg-primary">
    <div class="container">
      <div class="row gy-8 justify-content-md-center align-items-center flex-column flex-md-row">
        <div class="col-md-5 text-center text-md-start">
          <img src="/assets/images/logo-light.svg" width="40" height="40" alt="logo" />
          <span class="align-middle text-secondary font-helvetica fs-3 lh-lg ms-3 ms-sm-4">訂閱你我的甜蜜郵件</span>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <label for="subscription" class="input-group-text material-icons fs-3">
              email
            </label>
            <input type="text" class="form-control bg-secondary border-0" aria-label="信箱" aria-describedby="輸入信箱">
            <button class="btn btn-info border-0" type="button">
              <span class="material-icons align-middle text-primary">
                arrow_forward
                </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8 bg-secondary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="d-flex mb-9 mb-sm-8">
            <div class="vstack row-gap-10 row-gap-sm-0">
              <picture class="mb-auto">
                <source srcset="/assets/images/logotype-sm-dark.svg" media="(max-width: 575px)" />
                <img src="/assets/images/logotype-lg-dark.svg" width="172" height="27" alt="logo" />
              </picture>
              <ul class="lh-lg font-helvetica text-primary">
                <li>07-1234-5678</li>
                <li><a href="mailto:sweetaste@email.com">sweetaste@email.com</a></li>
                <li>800 高雄市新興區幸福路 520 號</li>
              </ul>
            </div>
            <img class="d-none d-sm-block" src="/assets/images/q4-footer.svg" width="60" height="220" alt="今天是個吃甜點的好日子" />
          </div>
          <div class="vstack flex-sm-row row-gap-6 row-gap-sm-0">
            <nav class="d-flex column-gap-2 me-0 me-sm-auto">
              <a href="https://page.line.me/guv7422g"><img src="/assets/images/ic-line@.svg" width="32" height="32" alt="line-icon" /></a>
              <a href="https://www.facebook.com/hexschool"><img src="/assets/images/ic-facebook.svg" width="32" height="32" alt="facebook-icon" /></a>
            </nav>
            <p class="align-content-end font-times text-primary">© 2018 Sweetaste* All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>