<header>
  <nav class="navbar navbar-expand-sm py-sm-7">
    <div class="container">
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons align-top">
          menu
        </span>
      </button>
      <a class="navbar-brand d-flex align-self-stretch align-self-sm-center" href="index.html">
        <img class="d-none d-md-block me-2" src="/assets/images/logo-dark.svg" width="40px" height="40px" alt="logo">
        <picture>
          <source srcset="/assets/images/logotype-sm-dark.svg" width="114px" height="18px" media="(max-width: 768px)" />
          <img src="/assets/images/logotype-lg-dark.svg" width="220px" height="40px" alt="logo">
        </picture>
      </a>
      <div class="collapse navbar-collapse justify-content-sm-end order-1 order-sm-0 text-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active lh-sm py-sm-3" aria-current="page" href="index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lh-sm py-sm-3" href="products.html">甜點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lh-sm py-sm-3" href="sign-in.html">登入</a>
          </li>
        </ul>
      </div>
      <a class="icon-link icon-link-hover align-self-stretch ps-sm-11" href="shop-car.html">
        <span class="material-icons">
          shopping_cart
        </span>
      </a>
    </div>
  </nav>
</header>