<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>收據</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container pt-md-8 pb-md-13">
      <div class="card text-bg-dark border-0 mx-n8 mx-sm-0">
        <img class="card-img h-checkout h-sm-checkout-sm object-fit-cover" src="/assets/images/checkout-banner.png" alt="白色盤中擺放聖誕節甜點，旁有刀叉，周圍裝飾有綠色松枝和紅色漿果，呈現出節日氛圍的餐桌布置。甜點看起來像是灑上糖粉的餅乾或蛋糕，展現出精緻可口的外觀。整體構圖簡潔明亮，突顯出冬季節日的溫馨感。" />
        <div class="position-sm-init align-content-center text-center">
          <div class="h-checkout h-sm-auto card-img-overlay position-sm-static align-content-center p-0">
            <div class="d-inline-block">
              <div class="position-relative m-4">
                <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
                  <div class="progress-bar bg-primary" style="width: 100%"></div>
                </div>
                <button type="button" class="position-init translate-middle btn btn-sm btn-primary rounded-pill" style="width: 1.25rem; height:1.25rem;">
                  <span class="material-symbols-outlined text-secondary fs-2">check</span>
                </button>
                <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 1.25rem; height:1.25rem;">
                  <span class="material-symbols-outlined text-secondary fs-2">check</span>
                </button>
                <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 1.25rem; height:1.25rem;">
                  <span class="material-symbols-outlined text-secondary fs-2">check</span>
                </button>
              </div>
              <img class="mt-8" src="/assets/images/q5-checkout.svg" width="190" height="46" alt="想吃甜點是不需要理由的" />
            </div>
          </div>
          <div class="d-grid w-sm-checkout mx-sm-auto mt-sm-11">
            <button class="btn btn-info text-primary py-l" type="button" onclick="location.href='products.html'">繼續逛逛</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="/main.js"></script>
  </body>
</html>