<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <title>首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <div class="h-banner-sm h-md-banner bg-banner mx-n8 mx-sm-0"></div>
      <div class="row g-0 justify-content-center mx-n8 mx-sm-0 mt-md-nxl">
        <div class="col-md-10">
          <div class="row g-0">
            <a href="#" class="col-4 h-banner-rectangle-sm h-sm-banner-rectangle position-relative overflow-hidden active">
              <span class="z-2 position-absolute top-50 start-50 translate-middle display-span wm-v-lr ls-lg text-white fs-2 fs-md-3">本日精選</span>
              <div class="z-1 bg-rectangle-over position-absolute position-init"></div>
              <div class="z-0 position-absolute position-rectangle bg-rectangle-1 filter-blur"></div>
            </a>
            <a href="#" class="col-4 h-banner-rectangle-sm h-sm-banner-rectangle position-relative overflow-hidden active border-start">
              <span class="z-2 position-absolute top-50 start-50 translate-middle display-span wm-v-lr ls-lg text-white fs-2 fs-md-3">人氣推薦</span>
              <div class="z-1 bg-rectangle-over position-absolute position-init"></div>
              <div class="z-0 position-absolute position-rectangle bg-rectangle-2 filter-blur"></div>
            </a>
            <div href="#" class="col-4 h-banner-rectangle-sm h-sm-banner-rectangle position-relative overflow-hidden active border-start">
              <a class="z-2 position-absolute top-50 start-50 translate-middle display-span wm-v-lr ls-lg text-white fs-2 fs-md-3">新品上市</a>
              <div class="z-1 bg-rectangle-over position-absolute position-init"></div>
              <div class="z-0 position-absolute position-rectangle bg-rectangle-3 filter-blur"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="position-relative mt-8 mt-md-xl pb-8 pb-md-0">
        <div class="position-init top-90 top-md-20 bottom-md-20 z-n1 bg-secondary"></div>
        <div class="container position-relative">
          <div class="d-grid gt-col-3fr row-gap-8 row-gap-md-10 column-gap-md-8 column-gap-lg-5">
            <div class="g-col-start-1-end-4 g-col-md-start-2-end-4 g-col-lg-start-3-end-4 g-row-md-start-1-end-2 g-row-lg-start-1-end-3">
              <picture class="h-100 h-lg-auto align-content-end text-center text-lg-end">
                <source srcset="/assets/images/q1-sm.svg" width="196" height="60" media="(max-width: 991px)" />
                <img src="/assets/images/q1-lg.svg" width="89" height="307" alt="為什麼選擇了做甜點" />
              </picture>
            </div>
            <div class="g-col-start-1-end-4 g-col-md-start-1-end-2 g-row-md-start-1-end-3 mx-n8 mx-sm-0 pt-sm-10 pt-md-0">
              <img src="/assets/images/middle-pic1.jpg" class="mh-desc w-100 object-fit-cover" alt="白色餐盤上擺放金黃色迷你鬆餅，撒上糖粉和杏仁片，點綴星形裝飾，呈現出精緻可口的早餐或下午茶點心。" />
            </div>
            <div class="g-col-start-1-end-4 g-col-md-start-2-end-4 g-col-lg-start-2-end-3 g-row-md-start-2-end-3 g-row-lg-start-1-end-3">
              <div class="d-flex flex-column flex-lg-row-reverse gap-6 gap-lg-10 mh-desc ms-sm-auto py-sm-0 py-lg-xxl">
                <p class="wm-lg-v-rl fw-light text-primary lh-2 lh-lg-25">青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                <p class="wm-lg-v-rl fw-light text-primary lh-2 lh-lg-25">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative mt-8 mt-md-xl pb-8 pb-md-0">
        <div class="position-init top-90 top-md-20 bottom-md-20 z-n1 bg-secondary"></div>
        <div class="container position-relative">
          <div class="d-grid gt-col-3fr-reverse row-gap-8 row-gap-md-10 column-gap-md-8 column-gap-lg-5">
            <div class="g-col-start-1-end-4 g-col-md-start-1-end-3 g-col-lg-start-2-end-3 g-row-md-start-1-end-2 g-row-lg-start-1-end-3">
              <picture class="h-100 h-lg-auto align-content-end text-center text-lg-center">
                <source srcset="/assets/images/q2-sm.svg" width="196" height="60" media="(max-width: 991px)" />
                <img src="/assets/images/q2-lg.svg" width="89" height="307" alt="為什麼一定要吃甜點" />
              </picture>
            </div>
            <div class="g-col-start-1-end-4 g-col-md-start-3-end-4 g-row-md-start-1-end-3 mx-n8 mx-sm-0 pt-sm-10 pt-md-0">
              <img src="/assets/images/middle-pic2.jpg" class="mh-desc w-100 object-fit-cover" alt="白色餐盤中盛裝熱騰騰的燕麥粥，上面點綴新鮮水果切片如橙子和奇異果，撒上腰果和八角，旁邊放置蜂蜜罐，展現健康美味的早餐組合。" />
            </div>
            <div class="g-col-start-1-end-4 g-col-md-start-1-end-3 g-col-lg-start-1-end-2 g-row-md-start-2-end-3 g-row-lg-start-1-end-3">
              <div class="d-flex flex-column flex-lg-row-reverse gap-6 gap-lg-10 mh-desc ms-sm-auto py-sm-0 py-lg-xxl">
                <p class="wm-lg-v-rl fw-light text-primary lh-2 lh-lg-25">青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                <p class="wm-lg-v-rl fw-light text-primary lh-2 lh-lg-25">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-8 pt-md-xl pb-md-13">
        <picture class="text-center mb-8 mb-md-xl">
          <source srcset="/assets/images/q3-sm.svg" width="226" height="60" media="(max-width: 768px)" />
          <img src="/assets/images/q3-lg.svg" width="89" height="327" alt="白底綠字寫上，想吃甜點---是不需要理由的" />
        </picture>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
          <div class="col">
            <div class="card h-100">
              <div class="position-relative">
                <span class="position-absolute start-20 btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
                <span class="material-icons position-absolute end-20 top-16 text-primary">favorite_border</span>
              </div>
              <img src="/assets/images/p-2.png" class="card-img-top" alt="白色盤子上疊放三個金黃色甜甜圈，周圍散布淡藍色糖果，呈現出甜美可愛的下午茶點心組合。" />
              <ul class="list-group list-group-horizontal flex-grow-1 text-center">
                <li class="list-group-item flex-expand text-center fw-light fs-2 py-m px-1">甜甜圈禮盒</li>
                <li class="list-group-item flex-basis-42 lead font-pingfang py-m px-0">NT$ 888</li>
              </ul>
              <div class="card-footer btn btn-secondary py-l" role="button">加入購物車</div>
            </div>
          </div>
          <div class="col d-none d-md-block">
            <div class="card h-100">
              <span class="position-absolute start-20 btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
              <span class="material-icons position-absolute end-20 top-16 text-primary">favorite_border</span>
              <img src="/assets/images/p-5.png" class="card-img-top" alt="幾塊切開的草莓蛋糕，淋上鮮紅色草莓醬汁，放置在白色餐盤上，周圍點綴鮮花，展現出春夏季節感的甜點風格。" />
              <ul class="list-group list-group-horizontal flex-grow-1 text-center">
                <li class="list-group-item flex-expand text-center fw-light fs-2 py-m px-1">極の特級草莓戚風蛋糕</li>
                <li class="list-group-item flex-basis-42 lead font-pingfang py-m px-0">NT$ 1266</li>
              </ul>
              <div class="card-footer btn btn-secondary py-l" role="button">加入購物車</div>
            </div>
          </div>
          <div class="col d-none d-lg-block">
            <div class="card h-100">
              <span class="position-absolute start-20 btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
              <span class="material-icons position-absolute end-20 top-16 text-primary">favorite_border</span>
              <img src="/assets/images/p-1.png" class="card-img-top" alt="兩杯水果優格杯，層次分明，底層為切片奇異果，中間為奇亞籽布丁，頂層為藍莓醬，展現健康美味的早餐或點心選擇。" />
              <ul class="list-group list-group-horizontal flex-grow-1 text-center">
                <li class="list-group-item flex-expand text-center fw-light fs-2 py-m px-1">水果優格<br>（兩杯）</li>
                <li class="list-group-item flex-basis-42 lead font-pingfang py-m px-0">NT$ 80</li>
              </ul>
              <div class="card-footer btn btn-secondary py-l" role="button">加入購物車</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <%- include('./layout/footer'); -%>

  <script type="module" src="/main.js"></script>
</body>

</html>