<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <title>甜點商品</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="container">
        <div class="card text-bg-dark border-0 mx-n8 mx-sm-0">
          <img class="card-img h-banner-sm h-md-banner object-fit-cover" src="/assets/images/banner-shop.jpg" alt="白色盤中擺放聖誕節甜點，旁有刀叉，周圍裝飾有綠色松枝和紅色漿果，呈現出節日氛圍的餐桌布置。甜點看起來像是灑上糖粉的餅乾或蛋糕，展現出精緻可口的外觀。整體構圖簡潔明亮，突顯出冬季節日的溫馨感。" />
          <picture class="card-img-overlay text-end p-md-10">
            <source srcset="/assets/images/q3-lg-sm.svg" width="59" height="218" media="(max-width: 767px)" />
            <img src="/assets/images/q3-lg.svg" width="89" height="328" alt="想吃甜點是不需要理由的" />
          </picture>
        </div>
      </div>
      <div class="container pt-md-13 pb-8 pb-sm-13">
        <div class="row g-8 g-md-5">
          <div class="col-md-6 col-lg-4">
            <div class="mx-n8 mx-sm-0">
              <h2 class="bg-primary text-secondary lh-lg fs-3 py-4">甜點類別</h2>
              <div class="list-group text-center fw-semibold lh-lg fs-3">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  所有甜點（48）
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  本日精選（10）
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  人氣推薦（26）
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  新品上市（12）
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="row g-5">
              <div class="col-lg-6">
                <div class="position-relative">
                  <div class="hposition-init d-flex justify-content-between px-5">
                    <span class="btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
                    <span class="material-icons text-primary pt-4">favorite_border</span>
                  </div>
                  <img class="w-100" src="/assets/images/p-1.png" alt="兩杯水果優格杯，層次分明，底層為切片奇異果，中間為奇亞籽布丁，頂層為藍莓醬，展現健康美味的早餐或點心選擇。" />
                  <div class="hstack text-center border">
                    <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                    <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                  </div>
                  <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="position-relative">
                  <div class="hposition-init d-flex justify-content-between px-5">
                    <span class="btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
                    <span class="material-icons text-primary pt-4">favorite_border</span>
                  </div>
                  <img class="w-100" src="/assets/images/p-2.png" alt="白色盤子上疊放三個金黃色甜甜圈，周圍散布淡藍色糖果，呈現出甜美可愛的下午茶點心組合。" />
                  <div class="hstack text-center border">
                    <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                    <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                  </div>
                  <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="position-relative">
                  <div class="hposition-init d-flex justify-content-between px-5">
                    <span class="btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
                    <span class="material-icons text-primary pt-4">favorite_border</span>
                  </div>
                  <img class="w-100" src="/assets/images/p-3.png" alt="兩個紅色烤盤中盛裝新鮮出爐的莓果派，金黃酥脆的格子狀派皮覆蓋在紅色漿果填充物上，旁邊擺放白色茶壺和綠葉，呈現出溫馨的下午茶氛圍。" />
                  <div class="hstack text-center border">
                    <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                    <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                  </div>
                  <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="position-relative">
                  <div class="hposition-init d-flex justify-content-between px-5">
                    <span class="btn btn-primary btn-lg disabled wm-v-lr fw-semibold text-secondary ls-sm">本日精選</span>
                    <span class="material-icons text-primary pt-4">favorite_border</span>
                  </div>
                  <img class="w-100" src="/assets/images/p-4.png" alt="白色圓形紙盤上擺放著金黃色的大理石花紋蛋糕切片，蛋糕表面呈現漩渦狀的焦糖色紋路，旁邊放置銀色叉子，展現出簡約而精緻的甜點風格。" />
                  <div class="hstack text-center border">
                    <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                    <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                  </div>
                  <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
                </div>
              </div>
            </div>
            <nav aria-label="products page navigation" class="mt-8">
              <ul class="pagination justify-content-center justify-content-md-end">
                <li class="page-item">
                  <a href="#" class="page-link material-icons fs-3 px-4">
                    arrow_left
                  </a>
                </li>
                <li class="page-item"><a class="page-link active font-pingfang fw-normal fs-sm-m" href="#">1</a></li>
                <li class="page-item"><a class="page-link font-pingfang fw-normal fs-sm-m" href="#">2</a></li>
                <li class="page-item"><a class="page-link font-pingfang fw-normal fs-sm-m" href="#">3</a></li>
                <li class="page-item">
                  <a href="#" class="page-link material-icons fs-3 px-4">
                    arrow_right
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="/main.js"></script>
  </body>
</html>
