<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <title>甜點商品</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <section class="card text-bg-dark border-0 mx-n8 mx-sm-0">
        <img class="card-img h-banner object-fit-cover" src="/assets/images/banner-shop.jpg" alt="白色盤中擺放聖誕節甜點，旁有刀叉，周圍裝飾有綠色松枝和紅色漿果，呈現出節日氛圍的餐桌布置。甜點看起來像是灑上糖粉的餅乾或蛋糕，展現出精緻可口的外觀。整體構圖簡潔明亮，突顯出冬季節日的溫馨感。">
        <div class="card-img-overlay">
          <h1 class="card-title text-end text-hide">
            想吃甜點是不需要理由的
            <img class="w-card-img m-4" src="/assets/images/q3-header.svg" alt="想吃甜點是不需要理由的">
          </h1>
        </div>
      </section>
    </div>
    <main class="pt-md-13 pb-8 pb-sm-13">
      <div class="container">
        <div class="row g-8 g-md-5">
          <div class="col-md-6 col-lg-4">
            <div class="mx-n8 mx-sm-0">
              <h2 class="bg-primary text-secondary lh-lg fs-3 py-4">甜點類別</h2>
              <ul class="list-group text-center fw-semibold lh-lg fs-3">
                <li class="list-group-item active text-md-secondary">
                  <a href="#">所有甜點（48）</a>
                </li>
                <li class="list-group-item text-md-secondary">
                  <a href="#">本日精選（10）</a>
                </li>
                <li class="list-group-item text-md-secondary">
                  <a href="#">人氣推薦（26）</a>
                </li>
                <li class="list-group-item text-md-secondary">
                  <a href="#">新品上市（12）</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="row g-5">
              <div class="col-lg-6">
                <span class="position-absolute btn btn-primary wm-vertical-lr ms-5">本日精選</span>
                <img class="w-100" src="/assets/images/p-1.png" alt="蛋糕">
                <div class="hstack text-center border">
                  <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                  <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                </div>
                <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
              </div>
              <div class="col-lg-6">
                <span class="position-absolute btn btn-primary wm-vertical-lr ms-5">本日精選</span>
                <img class="w-100" src="/assets/images/p-2.png" alt="蛋糕">
                <div class="hstack text-center border">
                  <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                  <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                </div>
                <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
              </div>
              <div class="col-lg-6">
                <span class="position-absolute btn btn-primary wm-vertical-lr ms-5">本日精選</span>
                <img class="w-100" src="/assets/images/p-3.png" alt="蛋糕">
                <div class="hstack text-center border">
                  <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                  <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                </div>
                <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
              </div>
              <div class="col-lg-6">
                <span class="position-absolute btn btn-primary wm-vertical-lr ms-5">本日精選</span>
                <img class="w-100" src="/assets/images/p-4.png" alt="蛋糕">
                <div class="hstack text-center border">
                  <p class="flex-grow-1 fw-light fs-2 text-primary">焦糖馬卡龍</p>
                  <span class="lead font-pingfang text-primary border-start py-m px-6">NT$ 450</span>
                </div>
                <button class="w-100 btn btn-secondary text-primary py-l">加入購物車</button>
              </div>
            </div>
            <nav aria-label="products page navigation" class="mt-8">
              <ul class="pagination justify-content-center justify-content-md-end">
                <li class="page-item">
                  <a href="#" class="page-link material-icons fs-3 px-4">
                    arrow_left
                  </a>
                </li>
                <li class="page-item"><a class="page-link active font-pingfang fw-normal fs-sm-m" href="#">1</a></li>
                <li class="page-item"><a class="page-link font-pingfang fw-normal fs-sm-m" href="#">2</a></li>
                <li class="page-item"><a class="page-link font-pingfang fw-normal fs-sm-m" href="#">3</a></li>
                <li class="page-item">
                  <a href="#" class="page-link material-icons fs-3 px-4">
                    arrow_right
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
