<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <title>購物車</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="pt-sm-7 pb-sm-13">
      <div class="container">
        <div class="row g-4 g-md-5">
          <div class="col-md-7 col-lg-8">
            <h1 class="bg-secondary fs-3 lh-lg text-primary mx-n8 mx-sm-0 py-4 mb-l">您的購物車</h1>
            <div class="hstack flex-wrap flex-lg-nowrap row-gap-2 py-l py-lg-5">
              <div class="flex-grow-1">
                <img class="mw-shop-car" src="/assets/images/p-5.png" alt="草莓蛋糕">
              </div>
              <div class="vstack justify-content-between flex-sm-row flex-none flex-grow-1">
                <div class="vstack align-items-end align-items-sm-start flex-grow-0 fw-light text-primary my-auto">
                  <a href="products.html">焦糖馬卡龍</a>
                  <span class="font-pingfang">NT$ 450</span>
                </div>
                <div class="input-group w-auto align-self-end align-self-sm-center border">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">remove</span>
                  </button>
                  <input type="text" class="form-control w-input-num text-center bg-transparent border-x px-0 py-3" placeholder="0" value="2" aria-label="數量" aria-describedby="商品數量修改">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">add</span>
                  </button>
                </div>
              </div>
              <span class="flex-grow-1 flex-basis-100 flex-basis-lg-auto text-end font-pingfang fw-semibold fs-2 text-primary border-y border-lg-0 py-xs">NT$ 900</span>
              <div class="d-none d-lg-inline-block flex-grow-1 text-end">
                <button type="button" class="material-icons btn btn-outline-primary py-xs">
                  <span class="material-icons text-light">delete_outline</span>
                </button>
              </div>
            </div>
            <div class="hstack flex-wrap flex-lg-nowrap row-gap-2 py-l py-lg-5">
              <div class="flex-grow-1">
                <img class="mw-shop-car" src="/assets/images/p-6.png" alt="草莓蛋糕">
              </div>
              <div class="vstack justify-content-between flex-sm-row flex-none flex-grow-1">
                <div class="vstack align-items-end align-items-sm-start flex-grow-0 fw-light text-primary my-auto">
                  <a href="products.html">焦糖馬卡龍</a>
                  <span class="font-pingfang">NT$ 450</span>
                </div>
                <div class="input-group w-auto align-self-end align-self-sm-center border">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">remove</span>
                  </button>
                  <input type="text" class="form-control w-input-num text-center bg-transparent border-x px-0 py-3" placeholder="0" value="2" aria-label="數量" aria-describedby="商品數量修改">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">add</span>
                  </button>
                </div>
              </div>
              <span class="flex-grow-1 flex-basis-100 flex-basis-lg-auto text-end font-pingfang fw-semibold fs-2 text-primary border-y border-lg-0 py-xs">NT$ 900</span>
              <div class="d-none d-lg-inline-block flex-grow-1 text-end">
                <button type="button" class="material-icons btn btn-outline-primary py-xs">
                  <span class="material-icons text-light">delete_outline</span>
                </button>
              </div>
            </div>
            <div class="hstack flex-wrap flex-lg-nowrap row-gap-2 py-l py-lg-5">
              <div class="flex-grow-1">
                <img class="mw-shop-car" src="/assets/images/p-4.png" alt="草莓蛋糕">
              </div>
              <div class="vstack justify-content-between flex-sm-row flex-none flex-grow-1">
                <div class="vstack align-items-end align-items-sm-start flex-grow-0 fw-light text-primary my-auto">
                  <a href="products.html">焦糖馬卡龍</a>
                  <span class="font-pingfang">NT$ 450</span>
                </div>
                <div class="input-group w-auto align-self-end align-self-sm-center border">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">remove</span>
                  </button>
                  <input type="text" class="form-control w-input-num text-center bg-transparent border-x px-0 py-3" placeholder="0" value="2" aria-label="數量" aria-describedby="商品數量修改">
                  <button type="button" class="w-input-num btn btn-outline-primary p-0">
                    <span class="material-icons align-middle fs-2">add</span>
                  </button>
                </div>
              </div>
              <span class="flex-grow-1 flex-basis-100 flex-basis-lg-auto text-end font-pingfang fw-semibold fs-2 text-primary border-y border-lg-0 py-xs">NT$ 900</span>
              <div class="d-none d-lg-inline-block flex-grow-1 text-end">
                <button type="button" class="material-icons btn btn-outline-primary py-xs">
                  <span class="material-icons text-light">delete_outline</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="bg-md-primary pt-0 pt-md-4 pb-4 px-md-5">
              <h2 class="bg-secondary bg-md-transparent text-primary text-md-secondary border-bottom-md mb-2 py-4 pt-md-0">訂單摘要</h2>
              <ul class="list-group list-group-flush fw-light">
                <li class="list-group-item hstack text-md-secondary py-2 px-0">
                  <span>小計</span>
                  <span class="font-pingfang ms-auto">NT$ 2,700</span>
                </li>
                <li class="list-group-item hstack text-md-secondary py-2 px-0">
                  <span>運費</span>
                  <span class="font-pingfang ms-auto">NT$ 300</span>
                </li>
                <li class="list-group-item hstack text-md-secondary py-2 px-0">
                  <span class="lead">總計</span>
                  <span class="lead font-pingfang ms-auto">NT$ 3,000</span>
                </li>
              </ul>
            </div>
            <div class="mx-n8 mx-sm-0">
              <a class="btn btn-info w-100 text-primary" href="checkout.html">結帳</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="/main.js"></script>
  </body>
</html>
