<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <title>登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="pt-7 pb-0 pb-sm-13">
      <div class="container">
        <div class="row justify-content-center g-0">
          <div class="col-md-10">
            <div class="d-grid gt-col-1fr gt-row-auto mx-n8 mx-sm-0">
              <div class="g-col-start-1-end-3 g-col-md-start-1-end-2 g-row-start-1-end-2">
                <h1 class="bg-primary py-8 py-sm-10">會員登入</h1>
              </div>
              <div class="g-col-start-1-end-3 g-col-md-start-2-end-3 g-row-start-2-end-3 g-row-md-start-1-end-3 bg-secondary py-8 py-sm-10 my-lg-l px-8">
                <h2 class="d-none d-sm-block fw-normal fw-md-light mb-9"><span class="d-none d-lg-inline">—— </span>連結社群帳號<span class="d-none d-lg-inline"> ——</span></h2>
                <div class="d-flex flex-sm-column align-items-normal gap-sm-4" role="group" aria-label="連結社群帳號">
                  <button type="button" class="h-social-media flex-1 flex-sm-fill btn btn-white border-end border-end-sm-0 p-0">
                    <img src="/assets/images/logo-facebook-lg.svg" width="108" height="20" alt="facebook logo" />
                  </button>
                  <button type="button" class="h-social-media flex-1 flex-sm-fill btn btn-white border-end border-end-sm-0 p-0">
                    <img src="/assets/images/logo-google-lg.svg" width="95" height="30" alt="google logo" />
                  </button>
                  <button type="button" class="h-social-media flex-1 flex-sm-fill btn btn-white p-0">
                    <img src="/assets/images/logo-yahoo-lg.svg" width="97" height="24" alt="yahoo logo" />
                  </button>
                </div>
              </div>
              <form action="sign-in.html" class="g-col-start-1-end-3 g-col-md-start-1-end-2 g-row-start-3-end-4 g-row-md-start-2-end-3">
                <div class="bg-primary p-8 pt-md-0 pb-sm-6">
                  <div class="input-group mb-4">
                    <span class="input-group-text pe-0">
                      <i class="material-icons">person</i>
                    </span>
                    <input type="text" class="form-control" placeholder="電子信箱/手機號碼"  aria-label="帳號" aria-describedby="輸入帳號可以是電子信箱或手機號碼">
                  </div>
                  <div class="input-group mb-m">
                    <span class="input-group-text pe-0">
                      <i class="material-icons">vpn_key</i>
                    </span>
                    <input type="text" class="form-control" placeholder="請輸入使用者密碼"  aria-label="密碼" aria-describedby="輸入密碼">
                  </div>
                  <div class="form-check lh-sm">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      記住我
                    </label>
                  </div>
                </div>
                <button class="btn btn-info w-100 text-primary py-l" type="submit">登入帳號</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="/main.js"></script>
  </body>
</html>
